In [2]:
import pandas as pd

In [3]:
path = './taxi_zone_lookup.csv'
df = pd.read_csv(path)
df.head

<bound method NDFrame.head of      LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]>

In [4]:
dtype = {
    'LocationID': 'int64',
    'Borough': 'str',
    'Zone': 'str',
    'service_zone': 'str',
}

df = pd.read_csv(path,
                dtype=dtype)

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(df, name='', con=engine))

ValueError: Empty table name specified

In [7]:
df.head(n=0).to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

0

In [9]:
from tqdm.auto import tqdm
df_iter = pd.read_csv(
    path,
    dtype=dtype,
    iterator=True, 
    chunksize = 100000
)

In [10]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

0it [00:00, ?it/s]