In [1]:
import pandas as pd

In [2]:
path = './taxi_zone_lookup.csv'
df = pd.read_csv(path, nrows = 100)
df.head

<bound method NDFrame.head of     LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]>

In [5]:
dtype = {
    'LocationID': 'int64',
    'Borough': 'str',
    'Zone': 'str',
    'service_zone': 'str',
}

df = pd.read_csv(path,
                dtype=dtype)

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
df.head(n=0).to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

0

In [13]:
from tqdm.auto import tqdm
df_iter = pd.read_csv(
    path,
    dtype=dtype,
    iterator=True, 
    chunksize = 100000
)

In [14]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

0it [00:00, ?it/s]